@font-face {
  font-family: 'AvenirLTStd45BookRegular';
  src: url('fonts/avenirltstd-book-webfont.eot');
  src: url('fonts/avenirltstd-book-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/avenirltstd-book-webfont.woff') format('woff'), url('fonts/avenirltstd-book-webfont.ttf') format('truetype'), url('fonts/avenirltstd-book-webfont.svg#AvenirLTStd45BookRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'AvenirLTStd65MediumBold';
  src: url('fonts/avenirltstd-black-webfont.eot');
  src: url('fonts/avenirltstd-black-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/avenirltstd-black-webfont.woff') format('woff'), url('fonts/avenirltstd-black-webfont.ttf') format('truetype'), url('fonts/avenirltstd-black-webfont.svg#AvenirLTStd65MediumBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'AvenirLTStd65MediumRegular';
  src: url('fonts/avenirltstd-medium-webfont.eot');
  src: url('fonts/avenirltstd-medium-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/avenirltstd-medium-webfont.woff') format('woff'), url('fonts/avenirltstd-medium-webfont.ttf') format('truetype'), url('fonts/avenirltstd-medium-webfont.svg#AvenirLTStd65MediumRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'AvenirLTStd55RomanBold';
  src: url('fonts/avenirltstd-heavy-webfont.eot');
  src: url('fonts/avenirltstd-heavy-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/avenirltstd-heavy-webfont.woff') format('woff'), url('fonts/avenirltstd-heavy-webfont.ttf') format('truetype'), url('fonts/avenirltstd-heavy-webfont.svg#AvenirLTStd55RomanBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'UniversLTStd55Regular';
  src: url('fonts/universltstd-webfont.eot');
  src: url('fonts/universltstd-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/universltstd-webfont.woff') format('woff'), url('fonts/universltstd-webfont.ttf') format('truetype'), url('fonts/universltstd-webfont.svg#UniversLTStd55Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNovaRegular';
  src: url('fonts/proximanova-regular-webfont.eot');
  src: url('fonts/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/proximanova-regular-webfont.woff') format('woff'), url('fonts/proximanova-regular-webfont.ttf') format('truetype'), url('fonts/proximanova-regular-webfont.svg#ProximaNovaRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNovaLtBold';
  src: url('fonts/proximanova-semibold-webfont.eot');
  src: url('fonts/proximanova-semibold-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/proximanova-semibold-webfont.woff') format('woff'), url('fonts/proximanova-semibold-webfont.ttf') format('truetype'), url('fonts/proximanova-semibold-webfont.svg#ProximaNovaLtBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNovaBold';
  src: url('fonts/proximanova-bold-webfont.eot');
  src: url('fonts/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/proximanova-bold-webfont.woff') format('woff'), url('fonts/proximanova-bold-webfont.ttf') format('truetype'), url('fonts/proximanova-bold-webfont.svg#ProximaNovaBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
/*
  @font-face {
    font-family: 'ProximaNovaLight';
    src: url('fonts/proximanova-light-webfont.eot');
    src: url('fonts/proximanova-light-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/proximanova-light-webfont.woff') format('woff'),
       url('fonts/proximanova-light-webfont.ttf') format('truetype'),
       url('fonts/proximanova-light-webfont.svg#ProximaNovaLight') format('svg');
    font-weight: normal;
    font-style: normal;
  
  }
  */
@font-face {
  font-family: 'SymbolSignsBasisset';
  src: url('fonts/symbol-signs-webfont.eot');
  src: url('fonts/symbol-signs-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/symbol-signs-webfont.woff') format('woff'), url('fonts/symbol-signs-webfont.ttf') format('truetype'), url('fonts/symbol-signs-webfont.svg#SymbolSignsBasisset') format('svg');
  font-weight: normal;
  font-style: normal;
}